
/* pixelart font for application */
@font-face {
  font-family: 'Pixel-Art Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Pixel-Art Regular'), url('./assets/css/fonts/pixelart.woff') format('woff');
  }

.App{
  font-family: 'Pixel-Art Regular';
}

.pageTitle{
  text-align: center;
}

