.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* pixelart font for application */
@font-face {
  font-family: 'Pixel-Art Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Pixel-Art Regular'), url('./assets/css/fonts/pixelart.woff') format('woff');
  }

  